<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#222222">
    <title>Ingredients Report</title>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="vendor/chartist.css">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="images/favicon.png" type="image/png">
    <script defer src="vendor/moment.js"></script>
    <script defer src="vendor/chartist.js"></script>
    <script defer src="client-util.js"></script>
    <script defer src="client-index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
	</head>
	<body>
		<main id="general-stats" v-cloak>
      <h1>Ingredients Report <span class="last-updated">Last updated: <span class="last-updated-time">{{lastUpdatedTime}}</span></h1>
      <div>

        <h2>Overview</h2>
        <div class="numbers">
          <div>
            <h3>{{stats.numIngredientsComponents.mostRecent.formatted}}</h3>
						<p>Ingredients components</p>
            <stat-comparison v-bind:comparison="stats.numIngredientsComponents.comparison"></stat-comparison>
          </div>
          <div>
            <h3>{{stats.numIngredientsStories.mostRecent.formatted}}</h3>
            <p>Ingredients Storybook stories</p>
            <stat-comparison v-bind:comparison="stats.numIngredientsStories.comparison"></stat-comparison>
          </div>
          <div class="down-is-good">
            <h3>{{stats.numDeprecatedComponentFiles.mostRecent.formatted}}</h3>
            <p>Files with deprecated components</p>
            <stat-comparison v-bind:comparison="stats.numDeprecatedComponentFiles.comparison"></stat-comparison>
          </div>
          <div class="down-is-good">
            <h3>{{stats.numDeprecatedComponentInstances.mostRecent.formatted}}</h3>
            <p>Instances of deprecated components</p>
            <stat-comparison v-bind:comparison="stats.numDeprecatedComponentInstances.comparison"></stat-comparison>
          </div>
          <div class="down-is-good">
            <h3>{{stats.techDebtPerDesignSystemComponent.mostRecent.formatted}}</h3>
            <p>Tech debt per Ingredients component</p>
            <stat-comparison v-bind:comparison="stats.techDebtPerDesignSystemComponent.comparison"></stat-comparison>
          </div>
				</div>

        <h2>Priority components</h2>

        <div class="numbers">
          <div class="down-is-good">
            <h3>{{stats.numDeprecatedFilesANCHOR_LINK.mostRecent.formatted}}</h3>
            <p>Anchor Links - files with to-be-deprecated anchor links</p>
            <stat-comparison v-bind:comparison="stats.numDeprecatedFilesANCHOR_LINK.comparison"></stat-comparison>
          </div>
          <div class="down-is-good">
            <h3>{{stats.numDeprecatedFilesBUTTON.mostRecent.formatted}}</h3>
            <p>Buttons - files with deprecated buttons</p>
            <stat-comparison v-bind:comparison="stats.numDeprecatedFilesBUTTON.comparison"></stat-comparison>
          </div>
          <div class="down-is-good">
            <h3>{{stats.numDeprecatedFilesICONS.mostRecent.formatted}}</h3>
            <p>Icons - files with deprecated icons</p>
            <stat-comparison v-bind:comparison="stats.numDeprecatedFilesICONS.comparison"></stat-comparison>
          </div>
          <div class="down-is-good">
            <h3>{{stats.numDeprecatedFilesTYPOGRAPHY.mostRecent.formatted}}</h3>
            <p>Typography - files with deprecated typography</p>
            <stat-comparison v-bind:comparison="stats.numDeprecatedFilesTYPOGRAPHY.comparison"></stat-comparison>
          </div>
        </div>

        <h2>Teams</h2>

        <h3>Browse</h3>
        <div class="numbers">
          <div class="down-is-good">
            <h3>{{stats.browseNumDeprecatedComponentFiles.mostRecent.formatted}}</h3>
            <p>Files with deprecated components</p>
            <stat-comparison v-bind:comparison="stats.browseNumDeprecatedComponentFiles.comparison"></stat-comparison>
          </div>
          <div class="down-is-good" v-for="(componentName, componentKey) in priorityComponents">
            <h3>{{stats[`browseNumDeprecatedFiles${componentKey}`].mostRecent.formatted}}</h3>
            <p>{{componentName}} - files with {{deprecatedOrToBeDeprecated(componentKey)}} {{lowercase(componentName)}}</p>
            <stat-comparison v-bind:comparison="comparisonByTeamAndComponent('browse', componentKey)"></stat-comparison>
          </div>
        </div>

        <h3>Buy Checkout</h3>
        <div class="numbers">
          <div class="down-is-good">
            <h3>{{stats.buyCheckoutNumDeprecatedComponentFiles.mostRecent.formatted}}</h3>
            <p>Files with deprecated components</p>
            <stat-comparison v-bind:comparison="stats.buyCheckoutNumDeprecatedComponentFiles.comparison"></stat-comparison>
          </div>
          <div class="down-is-good" v-for="(componentName, componentKey) in priorityComponents">
            <h3>{{stats[`buyCheckoutNumDeprecatedFiles${componentKey}`].mostRecent.formatted}}</h3>
            <p>{{componentName}} - files with {{deprecatedOrToBeDeprecated(componentKey)}} {{lowercase(componentName)}}</p>
            <stat-comparison v-bind:comparison="comparisonByTeamAndComponent('buyCheckout', componentKey)"></stat-comparison>
          </div>
        </div>

        <h3>Buy Trolley</h3>
        <div class="numbers">
          <div class="down-is-good">
            <h3>{{stats.buyTrolleyNumDeprecatedComponentFiles.mostRecent.formatted}}</h3>
            <p>Files with deprecated components</p>
            <stat-comparison v-bind:comparison="stats.buyTrolleyNumDeprecatedComponentFiles.comparison"></stat-comparison>
          </div>
          <div class="down-is-good" v-for="(componentName, componentKey) in priorityComponents">
            <h3>{{stats[`buyTrolleyNumDeprecatedFiles${componentKey}`].mostRecent.formatted}}</h3>
            <p>{{componentName}} - files with {{deprecatedOrToBeDeprecated(componentKey)}} {{lowercase(componentName)}}</p>
            <stat-comparison v-bind:comparison="comparisonByTeamAndComponent('buyTrolley', componentKey)"></stat-comparison>
          </div>
        </div>

        <h3>Content (AEM CI)</h3>
        <div class="numbers">
          <div class="down-is-good">
            <h3>{{stats.buyTrolleyNumDeprecatedComponentFiles.mostRecent.formatted}}</h3>
            <p>Files with deprecated components</p>
            <stat-comparison v-bind:comparison="stats.buyTrolleyNumDeprecatedComponentFiles.comparison"></stat-comparison>
          </div>
          <div class="down-is-good" v-for="(componentName, componentKey) in priorityComponents">
            <h3>{{stats[`buyTrolleyNumDeprecatedFiles${componentKey}`].mostRecent.formatted}}</h3>
            <p>{{componentName}} - files with {{deprecatedOrToBeDeprecated(componentKey)}} {{lowercase(componentName)}}</p>
            <stat-comparison v-bind:comparison="comparisonByTeamAndComponent('buyTrolley', componentKey)"></stat-comparison>
          </div>
        </div>

        <h3>Customer - Account</h3>
        <div class="numbers">
          <div class="down-is-good">
            <h3>{{stats.accountNumDeprecatedComponentFiles.mostRecent.formatted}}</h3>
            <p>Files with deprecated components</p>
            <stat-comparison v-bind:comparison="stats.accountNumDeprecatedComponentFiles.comparison"></stat-comparison>
          </div>
          <div class="down-is-good" v-for="(componentName, componentKey) in priorityComponents">
            <h3>{{stats[`accountNumDeprecatedFiles${componentKey}`].mostRecent.formatted}}</h3>
            <p>{{componentName}} - files with {{deprecatedOrToBeDeprecated(componentKey)}} {{lowercase(componentName)}}</p>
            <stat-comparison v-bind:comparison="comparisonByTeamAndComponent('account', componentKey)"></stat-comparison>
          </div>
        </div>

        <h3>Customer - Identity</h3>
        <div class="numbers">
          <div class="down-is-good">
            <h3>{{stats.identityNumDeprecatedComponentFiles.mostRecent.formatted}}</h3>
            <p>Files with deprecated components</p>
            <stat-comparison v-bind:comparison="stats.identityNumDeprecatedComponentFiles.comparison"></stat-comparison>
          </div>
          <div class="down-is-good" v-for="(componentName, componentKey) in priorityComponents">
            <h3>{{stats[`identityNumDeprecatedFiles${componentKey}`].mostRecent.formatted}}</h3>
            <p>{{componentName}} - files with {{deprecatedOrToBeDeprecated(componentKey)}} {{lowercase(componentName)}}</p>
            <stat-comparison v-bind:comparison="comparisonByTeamAndComponent('identity', componentKey)"></stat-comparison>
          </div>
        </div>

        <h3>Customer Service &amp; Comms</h3>
        <div class="numbers">
          <div class="down-is-good">
            <h3>{{stats.customerServiceAndCommsNumDeprecatedComponentFiles.mostRecent.formatted}}</h3>
            <p>Files with deprecated components</p>
            <stat-comparison v-bind:comparison="stats.customerServiceAndCommsNumDeprecatedComponentFiles.comparison"></stat-comparison>
          </div>
          <div class="down-is-good" v-for="(componentName, componentKey) in priorityComponents">
            <h3>{{stats[`customerServiceAndCommsNumDeprecatedFiles${componentKey}`].mostRecent.formatted}}</h3>
            <p>{{componentName}} - files with {{deprecatedOrToBeDeprecated(componentKey)}} {{lowercase(componentName)}}</p>
            <stat-comparison v-bind:comparison="comparisonByTeamAndComponent('customerServiceAndComms', componentKey)"></stat-comparison>
          </div>
        </div>

        <h3>Loyalty &amp; Rewards</h3>
        <div class="numbers">
          <div class="down-is-good">
            <h3>{{stats.loyaltyNumDeprecatedComponentFiles.mostRecent.formatted}}</h3>
            <p>Files with deprecated components</p>
            <stat-comparison v-bind:comparison="stats.loyaltyNumDeprecatedComponentFiles.comparison"></stat-comparison>
          </div>
          <div class="down-is-good" v-for="(componentName, componentKey) in priorityComponents">
            <h3>{{stats[`loyaltyNumDeprecatedFiles${componentKey}`].mostRecent.formatted}}</h3>
            <p>{{componentName}} - files with {{deprecatedOrToBeDeprecated(componentKey)}} {{lowercase(componentName)}}</p>
            <stat-comparison v-bind:comparison="comparisonByTeamAndComponent('loyalty', componentKey)"></stat-comparison>
          </div>
        </div>

        <h3>Slots &amp; Routing</h3>
        <div class="numbers">
          <div class="down-is-good">
            <h3>{{stats.slotsNumDeprecatedComponentFiles.mostRecent.formatted}}</h3>
            <p>Files with deprecated components</p>
            <stat-comparison v-bind:comparison="stats.slotsNumDeprecatedComponentFiles.comparison"></stat-comparison>
          </div>
          <div class="down-is-good" v-for="(componentName, componentKey) in priorityComponents">
            <h3>{{stats[`slotsNumDeprecatedFiles${componentKey}`].mostRecent.formatted}}</h3>
            <p>{{componentName}} - files with {{deprecatedOrToBeDeprecated(componentKey)}} {{lowercase(componentName)}}</p>
            <stat-comparison v-bind:comparison="comparisonByTeamAndComponent('slots', componentKey)"></stat-comparison>
          </div>
        </div>

        <h3>Cross-cutting (missing team assignment)</h3>
        <div class="numbers">
          <div class="down-is-good">
            <h3>{{stats.crossCuttingNumDeprecatedComponentFiles.mostRecent.formatted}}</h3>
            <p>Files with deprecated components</p>
            <stat-comparison v-bind:comparison="stats.crossCuttingNumDeprecatedComponentFiles.comparison"></stat-comparison>
          </div>
          <div class="down-is-good" v-for="(componentName, componentKey) in priorityComponents">
            <h3>{{stats[`crossCuttingNumDeprecatedFiles${componentKey}`].mostRecent.formatted}}</h3>
            <p>{{componentName}} - files with {{deprecatedOrToBeDeprecated(componentKey)}} {{lowercase(componentName)}}</p>
            <stat-comparison v-bind:comparison="comparisonByTeamAndComponent('crossCutting', componentKey)"></stat-comparison>
          </div>
        </div>
			</div>
    </main>
    <footer>
      <h4>
        <a href="https://docs.google.com/spreadsheets/d/1DmO3xnTvC2fOsTHxd3iH6BesbdhD3weMBz8btNlzDLs/edit?usp=sharing">Link to spreadsheet with file information</a> &middot;
        <a href="https://gitlab.com/JohnLewisPartnership/WTReCom/wtr-ingredients-report/-/blob/master/context.js">Link to source code with team mappings</a></h4>
      <p>For queries or more information, please contact Peter O'Shaughnessy / the Design System Working Group</p>
    </footer>
	</body>
</html>